<div id="<%= dom_id idea %>">
  <p>
    <strong>Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <% if idea.picture? %>
    <%= image_tag(idea.picture_url, width: 600) %>
    <% else %>
    画像なし！
    <% end %>
  </p>

</div>
