<p style="color: green"><%= notice %></p>

<h1>Ideas</h1>

<div id="ideas">
  <% @ideas.each do |idea| %>
    <%= render idea %>
    <p>
      <%= link_to "詳細", idea %>
    </p>
  <% end %>
</div>

<%= link_to "ideaを新規作成", new_idea_path %>
